html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

h2 {
  font-weight: 300;
  letter-spacing: 4px;
}
.header {
  background-color: #1f203a;
  height: 100px;
}

.header-container {
  width: 90%;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.header-logo {
  width: 95%;
}
.header-logo img {
  width: 56px;
  width: 64px;
  margin-top: 20px;
}

.header-menu {
  margin-top: 10px;
}
.menubar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  filter: invert(100%);
}

/* 
section head shot
*/

.head-shot {
  height: auto;

  padding-bottom: 30px;
}

.head {
  background: #f2f2f2;
  margin-bottom: 80px;
}
.head img {
  width: 422px;
  height: 422px;
  border-radius: 50%;
  border: 8px solid white;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 60px;
}

.intro-head {
  margin-top: 60px auto;
  text-align: center;
  font-size: 32px;
}

.intro-desc {
  width: 40%;
  margin: 0px auto 50px;
  text-align: center;
  font-size: 16px;
}

.intro-desc p {
  margin-bottom: 40px;
}

.intro-desc a {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  border-width: 2px;
  font-weight: 700;
  text-decoration: none;
}

/* 
introduction
*/

section {
  height: auto;
  padding: 60px auto;
}
.intro-grey {
  background-color: #e5e5e5;
  position: relative;
}
.intro-white {
  background-color: #ffffff;
  display: block;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
}
.card-container {
  width: 1140px;
  display: flex;
  margin: auto;
}
.card {
  position: relative;
  flex-direction: row;
  width: 50%;
  padding: 30px;
}

.card img {
  height: 590px;
  width: 100%;
  overflow: hidden;
}

.card h2 {
  font-size: 45px;
}

a {
  color: inherit;
}

.pfree {
  margin: 35px 18px 40px 0px;
}
.readbutton {
  width: 170px;
  height: 45px;
  border: solid black;
  background: transparent;
  font-size: 14px;
  padding: 10px 45px;
  margin: 35px auto 0 0;
  text-decoration: none;
  font-weight: 100;
  border-width: 2px;
}

.readbutton:hover {
  border-width: 0px;
  transition: all;
}

/* 
we build digital
*/

.card h1 {
  font-size: 130px;
  font-weight: 300;
  margin: 20px 0 0;
  text-align: right;
  line-height: 1.1;
  padding-top: 12px;
}

.p-container {
  padding: 30px 164px 30px 30px;
  margin-top: 170px;
  margin-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.readdigital {
  width: 150px;
  height: 45px;
  background: #ffa54d;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
